

       #intro {
            background-image: url("img/integration_gandalf.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            opacity: 0.7;
            margin-left: 10px;
            margin-right: 10px;
            width: 500px;
            height: 572px;
        }

        #intro:hover {
            background-color: white;
            opacity: 1;
          }

        /*.gandalf {
            color: white;
            font: normal 70px arial, helvetica, Sans-Serif; 
            letter-spacing: -1px;  
            padding: 10px; 
            text-align: center;
            bottom: 50;
            opacity: 0.4;
            z-index: -1;

        }
      */
     .reward {
            
            background:grey; 
            padding: 5px; 
            text-align: center;
            top: 90px;
            opacity: 0.7;
            letter-spacing: 2px; 
            width: 50%;

        }

        .reward h2 {
            color: black;
            font: normal 36px arial, Sans-Serif; 
            text-align: center;
            letter-spacing: auto;  
            margin: auto;
            position: relative;
            bottom: 500px;
            padding: 10px 0;
            border-radius: 25px;
     }
       .gandalfhover {
        color: white;
        font: normal 60px arial, helvetica,Sans-Serif; 
        letter-spacing: auto;  
        padding: 2em;
        text-align: center;
        top: 120px;
        position: relative;

    }
       .orange {
            color: orange; 
            font-style: normal;
            margin-top: 100px;
        }
      
    .gandalfhover:hover {
            content: attr(data-hover);
            color: white;
            font-size: 24px;
            letter-spacing: 1px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            opacity: 1;
            z-index: 999999;
           bottom: 80px;
      
          }
        #intro:hover {
            background-color: white;
            filter: alpha(opacity=100);
            opacity: 0;
          }

          .reward span { 
            background-color: grey;
            color: #fff; 
            display: inline;
            padding: 0.5rem;
        
            /* Needs prefixing */
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
          }

        
        .gandalf  h2 {
         
        }
        .reward {
            background-color: grey;
            opacity: 0.5;
            width:300px;
            height:100px;
            border: 1px solid grey;
            box-sizing: border-box;
            position: absolute;
            top: 20px;
            right: 20px;
            line-height: 1.4; 
            padding: 120px 50px 50px 50px;
            width: 400px;
            margin: 20px auto;
            }
     }
       h3 {
        color: white;
        font: normal 20px arial, Sans-Serif; 
        letter-spacing: auto;  
        padding: 2em;
        text-align: center;

    }
        em {
            color: orange; 
            font-style: normal;
            margin-top: 100px;
        }
       .hovertitle h3:hover {
        color: white;
        font: normal 20px arial, Sans-Serif; 
        letter-spacing: auto;  
        margin-bottom: 10px; 
        text-align: center;
          }

            
